extends base-without-sidebar

block title
  if page.category
     title= page.category + ' | ' + config.title
  if page.tag
     title= page.tag + ' | ' + config.title
  if page.about
     title= __('about') + ' | ' + config.title
block content
    for section in about.sections.toArray()
      .section
        h3.section-title= section.title
        .section-content= section.content